
{% extends "auctions/layout.html" %}
{% block watchlist %}
<li class="nav-item" >
    <a class="nav-link" href="{% url 'watchlist' %}" >
        <div style="float:left">Watchlist</div>  
        {% if lenOfWat > 0 %}
        <div style="background-color: #6C757D; border-radius: 5px; width:17px; float:right;margin-left:3px; height:20px; margin-top:3px;">
            <p style="color:white;font-weight: bold ; font-size: 12px;text-align: center;">{{lenOfWat}}</p>
        </div> 
        {% endif %}
    </a>
</li>
{% endblock %}
{% block body %}
  <h2>Watchlist</h2>
  {% if not datas %}
    <p style ="padding-top:150px; text-align:center; font-size:25px; color:black;">No Watchlist Display</p>    
  {% endif %}
  {% if user.is_authenticated %}
  <style>
      .container {
          margin-top:2px;
          width: 62%; height:auto;
        }
        img {
          width: 100%;
          height: 100%;
        }
  </style>
  {% for data in datas%}
  
  <div style ="padding: 0px 30px 210px 30px; border: 1px solid #d9d9d9; margin-top:20px;">
      <div style="width: 30%; height:210px; float:left">
          <div class="container">
              {% if data.auction_list_id.url%}
              <a href="listing/{{data.auction_list_id.list_name}}"><img src="/media/auctions/{{data.auction_list_id.url}}" alt="" class="img-fluid"></a>
              {% else %}
              <a href="listing/{{data.auction_list_id.list_name}}"><img src="/media/auctions/white.png" alt="" class="img-fluid"></a>
              {% endif %}
          </div>
          
      </div>
       
       <div style="width: 60%; height:190px; float:right; padding-top:15px;">
          <div> 
              <div>
                  <h4>{{data.auction_list_id.auction_list}}</h4>
              </div>
              <div style="padding-top:5px;">
                  <h6 style ="display:inline; font-weight:bold;">Price: </h6>
                  <h6 style ="display:inline;">${{data.auction_list_id.starting_bid|stringformat:".2f"}}</h6>
              </div>
              {% if data.auction_list_id.description%}
                  <div style ="padding-top:10px;">
                      <p style="font-weight:500;">{{data.auction_list_id.description}}</p>
                  </div>
                  <div style ="padding-top:5px; color: #7F878E; font-size:14px; font-weight:500;">
                      <p> Created {{data.auction_list_id.timestamp}}</p>
                   </div>
              {% else %}
                  <div style ="padding-top:20px; color: #7F878E; font-size:14px; font-weight:500;">
                      <p> Created {{data.auction_list_id.timestamp}}</p>
                  </div>
              {% endif %}
              
          </div>
       </div>
  </div>
  {% endfor %}
  {% endif %}



{% endblock %}